<?xml version='1.0' encoding='utf-8'?>
<widget id="waterless.buddys" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode="29" >
    <name>Waterless Buddys</name>
    <description>
        Waterless on-demand car washing service.
    </description>
    <author email="paul@gerlich.io" href="http://paul.gerlich.io">
        Gerlich and Gubin Software Consulting
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="B.png" />
        <icon src="B.png" platform="anddroid" density="ldpi" />
        <icon src="B.png" platform="anddroid" density="mdpi" />
        <icon src="B.png" platform="anddroid" density="hdpi" />
        <icon src="B.png" platform="anddroid" density="xhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
